 
h1 {color: brown; ;}

h3 a {color: rgb(17, 107, 17);;
background: silver;}

#navigateHeader {background-color: rgb(116, 148, 40);}
#head {background-color: rgb(0, 0, 0); position: fixed; right:  550px;}